<%- model_class = Condition -%>
<%
=begin
%>  
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<p><%= @tenki["cod"] %></p>
<%#= render :partial => 'form' %>

<p><%= @tenki["list"][0]["main"]["temp"] %></p>
<%
=end
%>  
  
<div class="contents row">
  <%= form_tag('/conditions', method: :post) do %>
    <h3>
      今日の体調を入力しよう！
    </h3>
    <input placeholder="cday" type="date" value=<%= Date.today %> name="condition[cday]" style="width:200px">
    <FONT size="4">　　気温</FONT>   
    <input placeholder="気温" type="number" value=<%= @tenki["list"][0]["main"]["temp"].to_i %> name="condition[temperature]" style="width:100px">
    <br>
    <FONT size="4">やる気　</FONT>   
    <p> 
    1:
    <input type="radio" name="condition[mp]" value="1" style="width:20px;"> 
    2:
    <input type="radio" name="condition[mp]" value="2" style="width:20px;"> 
    3: 
    <input type="radio" name="condition[mp]" value="3" checked="checked" style="width:20px;"> 
    4:
    <input type="radio" name="condition[mp]" value="4" style="width:20px;"> 
    5:
    <input type="radio" name="condition[mp]" value="5" style="width:20px;"> 
    </p>
    <FONT size="4">体力　</FONT>   
    <p> 
    1:
    <input type="radio" name="condition[hp]" value="1" style="width:20px;"> 
    2:
    <input type="radio" name="condition[hp]" value="2" style="width:20px;"> 
    3: 
    <input type="radio" name="condition[hp]" value="3" checked="checked" style="width:20px;"> 
    4:
    <input type="radio" name="condition[hp]" value="4" style="width:20px;"> 
    5:
    <input type="radio" name="condition[hp]" value="5" style="width:20px;"> 
    </p>
    <FONT size="4">睡眠時間</FONT>   
    <input placeholder="睡眠時間" type="number" value="7.0" min="0.0" max="24.0" step="0.5" name="condition[sleep_time]" style="width:100px">
    <br>
    <FONT size="4">回数</FONT>   
    <p> 
    0:
    <input type="radio" name="condition[eja_times]" value="0" style="width:20px;"> 
    1:
    <input type="radio" name="condition[eja_times]" value="1" style="width:20px;" checked="checked" > 
    2:
    <input type="radio" name="condition[eja_times]" value="2" style="width:20px;"> 
    3: 
    <input type="radio" name="condition[eja_times]" value="3" style="width:20px;"> 
    4:
    <input type="radio" name="condition[eja_times]" value="4" style="width:20px;"> 
    5:
    <input type="radio" name="condition[eja_times]" value="5" style="width:20px;"> 
    </p>
    <textarea cols="30" name="condition[noting]" placeholder="備考" rows="5"></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>

<%
=begin
%>  
<%
=end
%>  
