<!DOCTYPE html>
<html>
<head>
  <title>MpMeter2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag "//wwww.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <%#= javascript_include_tag "//wwww.google.com/jsapi" %>
  <%= javascript_include_tag "application", "chartkick" %>
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Unica+One::latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script> 
</head>

  <header class="header">
    <div class="header__bar row">
      <h1 class="grid-12"><a href="/">やる気メーター</a></h1>
    </div>
    <% if user_signed_in? %>
    <div class="header__bar row">
      <h1 class="grid-4"><a href="/users/<%= current_user.id %>">マイページ</a></h1>
      <h1 class="grid-4"><a href="/conditions/new">今日の調子を入力</a></h1>
      <h1 class="grid-4"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></h1>
    </div>
    <% else %>
    <div class="header__bar row">
        <h1 class="grid-6"><%= link_to "ログイン", new_user_session_path, class: 'post' %></h1>
        <h1 class="grid-6"><%= link_to "新規登録", new_user_registration_path, class: 'post' %></h1>
      </div>
    </div>
      <% end %>
    </div>
  </header>


<body>


<%= yield %>

</body>
</html>
